<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <title>CV de Max</title>
    <script src="https://kit.fontawesome.com/06d9f9b20f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
          <li class="navbar-izq"><a href="../en/index_en.html">Who am I?</a></li>
        </div>
        <div class="navbar-right">
          <li><a href="../en/education.html">Studies</a></li>
          <li><a href="../en/experience.html">Experience</a></li>
          <li><a href="../en/knowledge.html">Knowledge</a></li>
        </div>
    </nav>
    <div class="hobby">
      <div class="titulo">
        <p>Experience</p>
      </div>
      <div class="presentacion">
        <div class="presentacion-40-est">
            <p class="presentaciontxt-est">Intern at Comdata</p>
            <p class="presentaciontxt-est">(June 2022-December 2022)</p>
            <p class="presentaciontxt2-est">For approximately 5-6 months I was an intern at the Comdata Group headquarters in Viladecans (Part of my FP). My main tasks were managing equipment, such as adding more RAM, troubleshooting and repairing it. I was also an AC administrator, where I was in charge of creating new users, resetting passwords or unsubscribing another user. These two tasks were my main tasks although a large part was spent doing the inventory, writing down the names of each equipment and its location and even writing down the number of peripherals we had.</p>
        </div>
        <div class="presentacion-60">
            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1498.3645858501789!2d2.0291583773952344!3d41.31475498716656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49d6035139707%3A0x6240f5f6a0e4e248!2sOvertop%20Viladecans%2C%20grupo%20comdata!5e0!3m2!1ses!2ses!4v1683796918360!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
    <div class="presentacion-2">
      <div class="presentacion-40-2">
        <br>
          <p class="presentaciontxt2-white-2">Being at Comdata was a very important part of my life and even professional development, since that is where I experienced for the first time what the world of work really was and I have been very lucky to be able to find such a good internship tutor (Jesus Garcia Garcia) and some very kind co-workers who were always willing to help me and answer all my questions.
          </p>
      </div>
      <div class="presentacion-60">
        <img class="maps" src="../../img/comdata.jpg" alt="ns">
      </div> 
    </div>
    <br>
      <div class="apartado-inferior">
        <div class="idioma-rest">
            <p>If you want to change to the Spanish version, press this button:</p>
            <div class="botoneng">
              <a href="../../view/experiencia.html">Version en Castellano</a>
            </div>
        </div>
      </div>
    </div>