<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <title>CV de Max</title>
    <script src="https://kit.fontawesome.com/06d9f9b20f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
          <li class="navbar-izq"><a href="../en/index_en.html">Who am I?</a></li>
        </div>
        <div class="navbar-right">
          <li><a href="../en/education.html">Studies</a></li>
          <li><a href="../en/experience.html">Experience</a></li>
          <li><a href="../en/knowledge.html">Knowledge</a></li>
        </div>
    </nav>
    <div class="presentacion">
      <div class="presentacion-40">
          <p class="presentaciontxt">Hello! My name is Maksym Derezyuk and this is my CV.</p>
          <p class="presentaciontxt2">On this website you can find information about me as well as my studies,
            my hobbies, my qualities and many more things. If you need the Spansish version, below you have a button which will
            lead yo to the spanish version</p>
          <div class="botonpdf">
            <a href="../../img/CV_de_Maksym.pdf" download>Download CV</a>
          </div>
      </div>
      <div class="presentacion-60">
        <iframe src="https://www.youtube.com/embed/yGzw3CQaP1U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="hobby">
      <div class="titulo">
        <p>Hobbies</p>
      </div>
      <div class="pasatiempos">
        <div class="seispasatiempos">
          <p class="titulospasatiempos">Play videogames</p>
            <div class="textoenimagen">
              <img class="foto" src="../../img/videojuegos.jpg" alt="ns">
              <div class="texto"><p>One of the most common favorite hobbies of people my age is playing video games, it is also a hobby which has brought me further into the world of computing. I have been playing videogames since I was 9 years old, since my father taught me what Uncharted is, I am currently still playing but in less quantity.</p>
                <p>
                    As I have commented before, the world of videogames has led me further into the world of computing and has indirectly caused me to end up studying SMX to be a programmer.</p>
              </div>
            </div>
        </div>
        <div class="seispasatiempos">
          <p class="titulospasatiempos">Go to the cinema</p>
            <div class="textoenimagen">
              <img class="foto" src="../../img/cine.jpg" alt="ns">
              <div class="texto"><p>Another of my favorite hobbies is going to the movies with my friends, I have reached the point where I go to the movies at least once a month with my friends, even some workers already know me there from so many times I've gone. Am
                fan of all kinds of movies and sagas, but my favorite genre above all is science fiction and action. My favorite director is Chrisopher Nolan since he has created masterpieces like Inception, Intersteall (my favorite movie) and Tenet.</p>
                <p>I'm quite a geek with the Star Wars and Marvel sagas. Since I saw my first Marvel movie in theaters in 2017 and my first Star Wars movie in 2019, I haven't missed a single premiere of either sagas. (By the way, Vader >>> Kylo Ren).
                </p></div>
            </div>
        </div>
        <div class="seispasatiempos">
          <p class="titulospasatiempos">Watch TV Shows</p>
            <div class="textoenimagen">
              <img class="foto" src="../../img/series.jpg" alt="ns">
              <div class="texto"><p>Just like I'm a movie geek, obviously I'm also a series geek. As I mentioned before, I'm a big fan of Marvel and Star Wars, so obviously I've seen all the series of each one of these sagas (except resistance and vision, they're pretty bad). There are some series that are not from any specific saga and that I really like, such as the image you see before hovering over it; Breaking Bad, I even have a Walter White T-shirt.
              </p>
            </div>
            </div>
        </div>
        <div class="seispasatiempos">
          <p class="titulospasatiempos">Go out with friends</p>
            <div class="textoenimagen">
              <img class="foto" src="../../img/amigos.jpg" alt="ns">
              <div class="texto"><p>I consider that my friends are a very important part of me, which is why I often go out with them to do anything like go to the movies, go for a simple walk, go to a shopping center... Honestly, any activity just to spend time with my friends.
              </p>
                <p>Even 95% of the time I play videogames is with friends, since I can't stay with them absolutely every day, I do it virtually.</p></div>
            </div>
        </div>
        <div class="seispasatiempos">
          <p class="titulospasatiempos">Design web pages</p>
            <div class="textoenimagen">
              <img class="foto" src="../../img/web.jpg" alt="ns">
              <div class="texto"><p>This hobby is one of the newest since it is something that I learned to do less than a year ago and the truth is that it is something that I rarely do since I already do it enough in class and I enjoy it (most of the time ). I like being able to create web pages to my liking with my own design and content.
              </p></div>
            </div>
        </div>
        <div class="seispasatiempos">
          <p class="titulospasatiempos">Spend time with family</p>
            <div class="textoenimagen">
              <img class="foto" src="../../img/familia.jpg" alt="ns">
              <div class="texto"><p>Last but not least: Spend time with family. Family for me has always been the most important thing in this world and spending time with them is one of the best ways (if not the best) to connect with them. Unfortunately currently I can only spend time with my father since he is the only one close to me. Throughout these years I have learned to value the time I spend with them.
              </p>
            </div>
            </div>
        </div>
      </div>
      <div class="apartado-inferior">
        <div class="contacto">
          <div class="titulo-contacto">
            <p>If you want to contact me, you can do it in the following way:</p>
          </div>
          <div class="datos-contacto">
            <p><i class="fa-brands fa-whatsapp"> +34633365602</i></p>
          </div>
          <div class="datos-contacto">
            <p><i class="fa-brands fa-instagram"></i> dere.maxx</p>
          </div>
          <div class="datos-contacto">
            <p><i class="fa-regular fa-envelope"></i> derezyukmaksym@gmail.com</p>
          </div>
          <div class="datos-contacto">
            <p><i class="fa-brands fa-twitter"></i> deremaax</p>
          </div>
        </div>
        <div class="idioma">
          <p>If you want to change to the Spanish version, press this button:</p>
          <div class="botoneng">
            <a href="../../index.html">Version en Castellano</a>
          </div>
        </div>
      </div>
    </div>
</body>
</html>