<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <title>CV de Max</title>
    <script src="https://kit.fontawesome.com/06d9f9b20f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
          <li class="navbar-izq"><a href="../en/index_en.html">Who am I?</a></li>
        </div>
        <div class="navbar-right">
          <li><a href="../en/education.html">Studies</a></li>
          <li><a href="../en/experience.html">Experience</a></li>
          <li><a href="../en/knowledge.html">Knowledge</a></li>
        </div>
    </nav>
    <div class="hobby">
      <div class="titulo">
        <p>Knowledge</p>
      </div>
      <div class="presentacion">
        <div class="idioma-1">
            <p class="presentaciontxt2-cono">English</p>
            <img class="bandera" src="../../img/eng.png">
        </div>
        <div class="idioma-1">
            <p class="presentaciontxt2-cono">Spanish</p>
            <img class="bandera" src="../../img/espana.png">
        </div>
        <div class="idioma-1">
            <p class="presentaciontxt2-cono">Catalan</p>
            <img class="bandera" src="../../img/cata.png">
        </div>
        <div class="idioma-1">
            <p class="presentaciontxt2-cono">Ukranian</p>
            <img class="bandera" src="../../img/ucra.png">
        </div>
        <div class="idioma-1">
            <p class="presentaciontxt2-cono">Russian</p>
            <img class="bandera" src="../../img/rus.jpg">
        </div>
      </div>
    </div>
    <br>
      <div class="apartado-inferior">
        <div class="idioma-rest">
            <p>If you want to change to the Spanish version, press this button:</p>
            <div class="botoneng">
                <a href="../../view/conocimientos.html">Version en Castellano</a>
            </div>
        </div>
      </div>