<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Como nos conocimos</title>
    <script src="https://kit.fontawesome.com/06d9f9b20f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
          <li class="navbar-izq"><a href="../index.html">Página Principal</a></li>
        </div>
        <div class="navbar-right">
          <li><a href="../view/teamo.html">Por qué te amo?</a></li>
          <li><a href="../view/como.html">Como nos conocimos</a></li>
        </div>
    </nav>
    <div class="hobby">
      <div class="titulo">
        <p>Como nos conocimos</p>
      </div>
      <div class="presentacion">
        <div class="presentacion-40-est">
            <p class="presentaciontxt-est">Historia de amor</p>
            <p class="presentaciontxt2-est">Nos empezamos a conocer en 3ro de la ESO, que es cuando me empece a sentar contigo, el Pau y la Bea en la misma mesa. Todo empezo en ese curso, yo te pedia los deberes y tu me los pasabas, luego
              empezamos a insultarnos el uno al otro de coña, hasta el punto que empezaste a pensar que te odiaba de verdad XD. Después empezo el verano y ambos pasamos por malas etapas... Volvimos a retomar el contacto en 4to de la ESO,
            seguimos siendo amigos pero yo empece con mis "bromitas" y tu me seguiste el rollo. Al final hicimos una quedada con más gente en el Sergio Manzano, al finalizar me acompañaste a mi casa y nos dimos nuestro primer beso <3 </p>
        </div>
        <div class="presentacion-60">
          <img class="sonrisa-3" src="../img/old.jpg" alt="ns">
        </div>
      </div>
    </div>