<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>CV de Max</title>
    <script src="https://kit.fontawesome.com/06d9f9b20f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
          <li class="navbar-izq"><a href="../index.html">Quien soy?</a></li>
        </div>
        <div class="navbar-right">
          <li><a href="../view/estudios.html">Estudios</a></li>
          <li><a href="../view/experiencia.html">Experiencia</a></li>
          <li><a href="../view/conocimientos.html">Conocimientos</a></li>
        </div>
    </nav>
    <div class="hobby">
      <div class="titulo">
        <p>Conocimientos</p>
      </div>
      <div class="presentacion">
        <div class="idioma-1">
            <p class="presentaciontxt2-cono">Ingles</p>
            <img class="bandera" src="../img/eng.png">
        </div>
        <div class="idioma-1">
            <p class="presentaciontxt2-cono">Castellano</p>
            <img class="bandera" src="../img/espana.png">
        </div>
        <div class="idioma-1">
            <p class="presentaciontxt2-cono">Catalan</p>
            <img class="bandera" src="../img/cata.png">
        </div>
        <div class="idioma-1">
            <p class="presentaciontxt2-cono">Ucraniano</p>
            <img class="bandera" src="../img/ucra.png">
        </div>
        <div class="idioma-1">
            <p class="presentaciontxt2-cono">Ruso</p>
            <img class="bandera" src="../img/rus.jpg">
        </div>
      </div>
    </div>
    <br>
      <div class="apartado-inferior">
        <div class="idioma-rest">
          <p>Si deseas cambiar a la versión de ingles, pulsa este boton:</p>
          <div class="botoneng">
            <a href="../view/en/knowledge.html">English version</a>
          </div>
        </div>
      </div>