<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>CV de Max</title>
    <script src="https://kit.fontawesome.com/06d9f9b20f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
          <li class="navbar-izq"><a href="../index.html">Quien soy?</a></li>
        </div>
        <div class="navbar-right">
          <li><a href="../view/estudios.html">Estudios</a></li>
          <li><a href="../view/experiencia.html">Experiencia</a></li>
          <li><a href="../view/conocimientos.html">Conocimientos</a></li>
        </div>
    </nav>
    <div class="hobby">
      <div class="titulo">
        <p>Razones por las cuales te amo</p>
      </div>
      <div class="presentacion">
        <div class="presentacion-40-est">
            <p class="presentaciontxt-est">Tu sonrisa</p>
            <p class="presentaciontxt2-est">Cuando me hablan de las 7 maravillas del mundo siempre acabo corrigiendoles y me llaman loco, pero eso es porque ninguno de ellos ha visto la pedazo
              preciosa sonrisa más bonita que tienes. Con tan solo verla un par de segundos ya me alegras todo el dia... MIRA JUSTAMENTE ESA SONRISA QUE ESTAS HACIENDO AHORA MISMO (o no, y habré quedado como un gilipollas).
              No dejes de sonreir nunca porfavor <3
            </p>
        </div>
        <div class="presentacion-60">
          <img class="sonrisa" src="../img/sonrisa.jpg" alt="ns">
          <img class="sonrisa" src="../img/sonrisa2.jpg" alt="ns">
        </div>
      </div>
    </div>
    <div class="presentacion-2">
      <div class="presentacion-40-2">
          <p class="presentaciontxt-white">Educación secundaria</p>
          <p class="presentaciontxt-white">(2017-2021)</p>
          <p class="presentaciontxt2-white">Al finalizar la educación primaria, fui trasladado al centro Joan XXIII, justo al lado de la escuela Bellvitge. Ahí he cursado
            los 4 años de la ESO finalizando con unas notas notables. Al finalizar la ESO, decidi estudiar SMX en el mismo centro.
          </p>
      </div>
      <div class="presentacion-60">
          <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.112863625239!2d2.104722276609931!3d41.34990049831879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sCentro%20de%20Estudios%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1683795816921!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div> 
    </div>
    <div class="presentacion">
      <div class="presentacion-40-est">
          <p class="presentaciontxt-est">CFGM de SMX</p>
          <p class="presentaciontxt-est">(2021-Actualidad)</p>
          <p class="presentaciontxt2-est">Al finalizar la ESO, decidi estudiar Sistemas Microinformaticos y Redes. Actualmente estoy por finalizar el 2ndo año. Estos dos años son los
            que más me han marcado e importado ya que finalmente estoy estudiando algo que siempre quise estudiar.
          </p>
      </div>
      <div class="presentacion-60">
          <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.112863625239!2d2.104722276609931!3d41.34990049831879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sCentro%20de%20Estudios%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1683795816921!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    </div>
