<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>CV de Max</title>
    <script src="https://kit.fontawesome.com/06d9f9b20f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
          <li class="navbar-izq"><a href="../index.html">Quien soy?</a></li>
        </div>
        <div class="navbar-right">
          <li><a href="../view/estudios.html">Estudios</a></li>
          <li><a href="../view/experiencia.html">Experiencia</a></li>
          <li><a href="../view/conocimientos.html">Conocimientos</a></li>
        </div>
    </nav>
    <div class="hobby">
      <div class="titulo">
        <p>Experiencia</p>
      </div>
      <div class="presentacion">
        <div class="presentacion-40-est">
            <p class="presentaciontxt-est">Becario en Comdata</p>
            <p class="presentaciontxt-est">(Junio 2022-Diciembre 2022)</p>
            <p class="presentaciontxt2-est">Durante aproximadamente 5-6 meses fui becario en la sede de Comdata Group de Viladecans (Parte de mi FP). Mis tares principales era administrar equipos, como por 
                ejemplo, añadirles más memoria RAM, detectar averias y repararlas. Tambíen fui administrador del AC, donde me encargaba de crear nuevos usuarios, restablecer contraseñas o dar de baja a otro usuario.
                Estas dos tareas eran mis tareas principales aunque una gran parte la pase haciendo el inventario, apuntando los nombres de cada equipo y su localizacion e incluso apuntar la cantidad de perifericos que teniamos.</p>
        </div>
        <div class="presentacion-60">
            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1498.3645858501789!2d2.0291583773952344!3d41.31475498716656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49d6035139707%3A0x6240f5f6a0e4e248!2sOvertop%20Viladecans%2C%20grupo%20comdata!5e0!3m2!1ses!2ses!4v1683796918360!5m2!1ses!2ses" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
    <div class="presentacion-2">
      <div class="presentacion-40-2">
        <br>
          <p class="presentaciontxt2-white-2">Estar en Comdata fue una parte muy importante de mi vida e incluso desarollo laboral ya que ahi es donde prove por primera vez lo que era de verdad
            el mundo laboral y he tenido una gran suerte de poder contrar con un tutor de practicas tan bueno (Jesus Garcia Garcia) y unos compañeros de trabajo muy amables los cuales siempre
            estaban dispuetos a ayudarme y resolver todas mis dudas.
          </p>
      </div>
      <div class="presentacion-60">
        <img class="maps" src="../img/comdata.jpg" alt="ns">
      </div> 
    </div>
    <br>
      <div class="apartado-inferior">
        <div class="idioma-rest">
          <p>Si deseas cambiar a la versión de ingles, pulsa este boton:</p>
          <div class="botoneng">
            <a href="../view/en/experience.html">English version</a>
          </div>
        </div>
      </div>
    </div>